version: 2
jobs:
  docker:
    machine: true
    steps:
     - checkout
     - run: npm run dcr:build
     - run: npm run dcr:run

  testCi:
    docker:
      - image: cypress/browsers:node10.16.0-chrome76
    steps:
      - checkout
      - run: npm install
      - run: npm run ci

workflows:
  version: 2
  example_of_running:
    jobs:
      - docker
      - testCi
